<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3 jumbotron bg-kidcenter">
    <h1 class="text-center text-dark">My Programme</h1>
    <hr class="hr-2 bg-dark w-75">
    <div class="row">
        <div class="text-right text-dark font-italic font-italic font-weight-bold" th:text="'Parent Name: ' + ${#authentication.getPrincipal().getUsername()}"></div>
    </div>
    <div class="row">
        <div class="text-right text-dark font-italic font-italic font-weight-bold" th:text="'Kid Name: ' + ${kid.name}"></div>
    </div>
    <form class="form mx-auto" th:action="@{/kids/schedule/{id}(id=${kidId})}" method="post" enctype="multipart/form-data">
        <br/>
        <table class="table table-hover w-100 mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-1 text-center">Breakfast</th>
                <th class="col-md-1 text-center">Gymnastics</th>
                <th class="col-md-1 text-center">Language</th>
                <th class="col-md-1 text-center">Lunch</th>
                <th class="col-md-1 text-center">Instrument</th>
                <th class="col-md-1 text-center">Sport</th>
                <th class="col-md-2 text-center">Other Activity</th>
            </tr>
            </thead>
            <tbody>
            <th:block>
                <tr class="row mx-auto" >
                    <th class="col-md-1 text-center text-kidcenter font-weight-bold" th:text="YES"></th>
                    <td class="col-md-1 text-center text-kidcenter font-weight-bold" th:text="YES"></td>
                    <td class="col-md-1 text-center text-kidcenter font-weight-bold"> <option th:each="language : ${kid.languages}" th:text="${language}" th:value="${language}" readonly></option></td>
                    <td class="col-md-1 text-center text-kidcenter font-weight-bold" th:text="YES"></td>
                    <td class="col-md-1 text-center text-kidcenter font-weight-bold"> <option th:each="instrument : ${kid.instruments}" th:text="${instrument}" th:value="${instrument}" readonly></option></td>
                    <td class="col-md-1 text-center text-kidcenter font-weight-bold"><option th:each="sport : ${kid.sports}" th:text="${sport}" th:value="${sport}" readonly></option></td>
                    <td class="col-md-2 text-center text-kidcenter font-weight-bold"><option th:each="otheractivity : ${kid.otheractivities}" th:text="${otheractivity}" th:value="${language}" readonly></option></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </form>
    <br/>
    <br/>
        <p class="text-right text-dark font-italic font-italic font-weight-bold">Please, find below the timetable of our spacial care, if any needs:</p>
        <div class="text-right text-dark font-italic">Medical care - MON, WED, FRI</div>
        <div class="text-right text-dark font-italic">Dentist - TUE, FRI</div>
        <div class="text-right text-dark font-italic">Speech specialist - WED, FRI</div>
        <br/>
        <br/>
        <p class="text-right text-dark font-italic font-weight-bold">Enjoy your staying!</p>
        <hr class="hr-2 bg-dark">
    </form>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>