<th:block>
    <footer >
        <div class="container-fluid bg-light">
            <!--<div class="text-dark font-weight-bold p-2 text-center" style="background-color: #9370DB">-->
                <!--© CopyRight Snezhana Paykova. All rights reserved.-->
            <!--</div>-->
            <div class="text-dark font-weight-bold p-2 text-center" style="background-color: #9370DB">
                © CopyRight <a th:href="@{https://github.com/paykova}" target="_blank" style="color: #0b2e13"> Snezhana Paykova </a>All rights reserved.
            </div>
        </div>
    </footer>
</th:block>